<section class="vh-100 bg-image"
  style="background-image: url('https://cdn.pixabay.com/photo/2014/02/04/13/17/register-257986__340.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 150px;background-color:rgb(47, 164, 215);">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center text-danger mb-5" >Create an account</h2>
              <form #user="ngForm" (ngSubmit)="registerUser(user.value)">
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg"  name="name" placeholder="Enter Your Name" class="form-control form-control-lg"  ngModel/>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="email" placeholder="Enter Your Email" class="form-control form-control-lg"  ngModel />
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="form3Example4cg" name="location" placeholder="Enter Your Location"  class="form-control form-control-lg" ngModel />
                  </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example5cg" name="password" placeholder="Enter Your Password"  class="form-control form-control-lg"  ngModel />
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit">Register</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login"
                    class="fw-bold text-body"><u>Login here</u></a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
