
<!-- <app-nav></app-nav> -->
<!-- <app-header></app-header> -->
<!-- <app-adminheader></app-adminheader> -->
<router-outlet></router-outlet>
<!-- 
<router-outlet></router-outlet>
<ul type = 'none'>
  <li>
    <a href="" routerLink="register">Register</a>
  </li>
  <li>
    <a href="" routerLink="login">Login</a>
  </li>
</ul> -->
<!-- <app-dashboard></app-dashboard> -->