.navbar{
    
    position: sticky;
    top: 0;
    z-index: 100;
    /* overflow: hidden; */
}
.container{
    color: rgb(50, 112, 112) ;
    
}


/* h1{
    text-align: center;
    color: brown;
}

.example-spacer{
    flex: 1 1 auto;
} */